a:visited {
  color: whitesmoke;
}
body {
  margin: 0;
}
#cpu_img{
  width: 30%;
}
footer{
  height: 60px;
  background-color: #555;
  color: whitesmoke;
  font-size: 150%;
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.game-bottom{
  width: 40%;
  display: inline-block;
  /*background-color: aqua*/
}
.game-middle{
  font-size: 300%;
  font-weight: bold;
  color: #555;
}
.game-top{
  width: 40%;
  display: inline-block;
  /*background-color: #999*/
}
main{
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 80%;
  height: 100%;
  border: none;
  padding: 20px;
  text-align: center;
  position: relative;
}
#main_rules_div img{
  width: 50%;
}
.navbar {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player_img{
  width: 30%;
  margin: 5px;
}
#player-move{
  font-size: 300%;
  font-weight: bold;
  color: #555;
}
.rules_link{
  margin-left: 10px;
  margin-right: 10px;
}